In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

22 Games Total

**Name:** Player Name
**SP:** Sets Played
**K:** Kills
**K/S:** Average Number of Kills Per Set
**Kill %:** Kill Percentage
**Att:** Attack Attempts
**E:** Attack Errors
**Hit %:** Hitting Percentage

In [3]:
attacking_full = pd.read_csv("Attacking - Sheet1.csv")
attacking = attacking_full[["K"]]
attacking

      K
0   156
1     5
2    83
3    90
4     2
5    61
6   140
7     2
8     6
9     2
10  128

**Name:** Player Name
**SP:** Sets Played
**A:** Aces
**A/S:** Average Number of Aces Per Set
**Ace %:** Ace Percentage - (Total Aces/Total SA)
**SA:** Service Attempts
**SE:** Service Errors
**Serv %:** Serving Percentage - ((SA-SE)/SA)
**PTS:** Rotation Points - (# of points scored while this person was serving)

In [7]:
serving_full = pd.read_csv("Serving - Sheet1.csv")
serving = serving_full[["Name", "SP", "A", "SA", "SE", "PTS"]]
serving

             Name  SP   A   SA  SE  PTS
0     S. Arun(Jr)  74  54  332  31  197
1    J. Layno(Jr)  71  49  291  16  178
2  M. Sanford(Jr)  74  16  191  15  100
3  C. Collier(Sr)  69   5   47   9   23
4     T. Ulak(Jr)  74  47  222  30  118
5   M. Donlon(Sr)  74   3   33   5   19
6  R. Wilkins(Sr)  64  27  273   9  168
7    H. Woods(Jr)  64  43  223  38  132

**Name:** Player Name
**SP:** Sets Played
**BS:** Total Blocks By Player Solo
**BA:** Total Blocks By Player Assisted
**Tot Blks:** Total Blocks By Player Solo & Assisted
**B/S:** Average Number of Blocks Per Set
**B/M:** Average Number of Blocks Per Match
**BE:** Blocking Errors

In [8]:
blocking_full = pd.read_csv("Blocking - Sheet1.csv")
blocking = blocking_full[["Name", "SP", "BS", "BA", "Tot Blks", "BE"]]
blocking

             Name  SP  BS  BA  Tot Blks  BE
0     S. Arun(Jr)  74   1   3         4   2
1  M. Sanford(Jr)  74  15  15        30   9
2  C. Collier(Sr)  69   3   5         8   4
3  A. Okonkwo(Sr)  74  18  13        31  20
4   M. Donlon(Sr)  74   0   4         4   6
5     C. Todd(Jr)   9   0   1         1   0
6    H. Woods(Jr)  64  16  15        31  13