In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

22 Games Total

**Name:** Player Name
**SP:** Sets Played
**K:** Kills
**K/S:** Average Number of Kills Per Set
**Kill %:** Kill Percentage
**Att:** Attack Attempts
**E:** Attack Errors
**Hit %:** Hitting Percentage

In [32]:
attacking_full = pd.read_csv("Attacking - Sheet1.csv")
attacking = attacking_full[["K", "Att", "E"]]
attacking

      K  Att   E
0   156  616  87
1     5   74  12
2    83  260  32
3    90  386  67
4     2   27   7
5    61  179  39
6   140  489  84
7     2   14   3
8     6   45   6
9     2    7   1
10  128  443  58

In [13]:
success = (attacking["K"] - attacking["E"])
hitting_percentage = (successfull_hits/attacking["Att"]*100)
hitting_percentage

0     11.201299
1     -9.459459
2     19.615385
3      5.958549
4    -18.518519
5     12.290503
6     11.451943
7     -7.142857
8      0.000000
9     14.285714
10    15.801354
dtype: float64

**Name:** Player Name
**SP:** Sets Played
**A:** Aces
**A/S:** Average Number of Aces Per Set
**Ace %:** Ace Percentage - (Total Aces/Total SA)
**SA:** Service Attempts
**SE:** Service Errors
**Serv %:** Serving Percentage - ((SA-SE)/SA)
**PTS:** Rotation Points - (# of points scored while this person was serving)

In [31]:
serving_full = pd.read_csv("Serving - Sheet1.csv")
serving = serving_full[["SA", "A", "SE"]]
serving

    SA   A  SE
0  332  54  31
1  291  49  16
2  191  16  15
3   47   5   9
4  222  47  30
5   33   3   5
6  273  27   9
7  223  43  38

In [30]:
success2 = (serving["SA"] - serving["SE"])
serving_percentage = (success2/serving["SA"]*100)
serving_percentage

0    90.662651
1    94.501718
2    92.146597
3    80.851064
4    86.486486
5    84.848485
6    96.703297
7    82.959641
dtype: float64

**Name:** Player Name
**SP:** Sets Played
**BS:** Total Blocks By Player Solo
**BA:** Total Blocks By Player Assisted
**Tot Blks:** Total Blocks By Player Solo & Assisted
**B/S:** Average Number of Blocks Per Set
**B/M:** Average Number of Blocks Per Match
**BE:** Blocking Errors

In [36]:
blocking_full = pd.read_csv("Blocking - Sheet1.csv")
blocking = blocking_full[["BS", "BA", "Tot Blks", "BE"]]
blocking

   BS  BA  Tot Blks  BE
0   1   3         4   2
1  15  15        30   9
2   3   5         8   4
3  18  13        31  20
4   0   4         4   6
5   0   1         1   0
6  16  15        31  13

In [37]:
success3 = (blocking["Tot Blks"]-blocking["BE"])
blocking_percentage = (success3/blocking["Tot Blks"])
blocking_percentage

0    0.500000
1    0.700000
2    0.500000
3    0.354839
4   -0.500000
5    1.000000
6    0.580645
dtype: float64